#hamburger { cursor: pointer; padding: 10px 35px 16px 20px; }
#hamburger span, #hamburger span:before, #hamburger span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 7px;
  width: 35px;
  background: #ff652d;
  position: absolute;
  display: inline-block;
  content: '';
}
#hamburger span:before {
  top: -10px; 
}
#hamburger span:after {
  bottom: -10px;
}
/*
#hamburger span, #hamburger span:before, #hamburger span:after {
  transition: all 200ms ease-in-out;
}
*/
#hamburger span, #hamburger span:before, #hamburger span:after {
-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
     -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
        transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
}
#hamburger.active span {
  background-color: transparent;
}
#hamburger.active span:before, #hamburger.active span:after {
  top: 0;
}
#hamburger.active span:before {
  transform: rotate(45deg);
}
#hamburger.active span:after {
  transform: translateY(-10px) rotate(-45deg);
  top: 10px;
}